
* {
  box-sizing: border-box;
}

body {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
}

#master-container {
  color:white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  color:black;
  text-align: left;
  margin: 5px;
  padding-left: 5px;
  float: left;
  margin-top: 50px;
  ;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ID2116 {
  width: 60px;
  background-color: black;
  text-align: center;
  color: white;
  float: right;
  margin-top: 50px;
}

#title {
  text-align: right;
  color: black;
  float: right;
  margin-top: 105px;
  margin-right: -62px;
}

#title h1 {
  padding: 0;
  margin: 0;  
}

#title h4 {
  padding: 0;
  margin: 0;
  font-size: small;
}

#coding-for-design {
  transform: rotate(90deg);
  color: black;
  font-size: smaller;
  transform: translate (-80%, 0%);
}

#description {
  color: black;
  float: left;
  width: 180px;
  margin-left: -94px;
  margin-top: 303px;
  font-size: xx-small;
}

#header {
  width: 600px;
  float: right;
  margin-top: 50px;
}

/* Position the image container (needed to position the left and right arrows) */
.container-slideshow {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}